.story-banner {
  width: 100%;
  // height: 500px;
  background: #fff;
  display: flex;
  .side-a {
    width: 70%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    h1 {
      margin-bottom: 2rem;
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
  .side-b {
    width: 30%;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}

@media only screen and (max-width: 815px) {
  .story-banner {
    flex-direction: column;
    .side-a {
      width: 100%;
      height: 300px;
    }
    .side-b {
      display: none;
    }
  }
}

@media only screen and (max-width: 445px) {
  .story-banner {
    .side-a {
      h1 {
        font-size: 3.2rem;
      }
      h3 {
        font-size: 1.6rem;
      }
    }
  }
}