.mobile-navbar {
  .inner {
    width: 90%;
    margin: 0 auto;
    opacity: 0;
    transition: all 250ms ease-in-out;
    .mobile-nav-links {
      width: 100%;
      li {
        text-align: center;
        padding: 2rem 0;
        a {
          font-size: 1.2rem;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #000;
        }
      }
    }
    .line {
      height: 1px;
      width: 100%;
      max-width: 500px;
      background: #dedede;
      margin: 0 auto 2rem auto;
    }
    .btn {
      max-width: 500px;
      margin: 0 auto;
      a {
        & > * {
          width: 100%;
        }
      }
    }
    &.active {
      opacity: 1;
    }
  }
}