.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  h4 {
    color: #fff;
    text-transform: uppercase;
    margin-right: 2rem;
  }
  svg {
    height: 12px;
    width: 42px;
    margin-bottom: .25rem;
    transition: all 200ms ease-in-out; 
    path {
      stroke: #fff;
    }
  }
  &.black {
    h4 {
      color: #000;
    }
    svg path {
      stroke: #000;
    }
  }
  &:hover {
    svg {
      transform: translateX(1.5rem);
    }
  }
}