.invite {
  background: #fff;
  .contact-group {
    padding: 12rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // gap: 8rem;
  }
}

@media only screen and (max-width: 885px) {
  .invite {
    .contact-group {
      padding: 12rem 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 12rem 3.3rem;
    }
  }
}