.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #fff;
}

@media only screen and (max-width: 850px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 525px) {
  .cards {
    grid-template-columns: 1fr;
  }
}