.card {
  height: 50rem;
  width: 100%;
  // background: lightblue;
  background: url('../../assets/stories/desktop/18-days-voyage.jpg') no-repeat center/cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  p {
    margin-bottom: 1.6rem;
  }
  hr {
    margin-bottom: 2rem;
  }
}