.card {
  height: 50rem;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  p {
    margin-bottom: 1.6rem;
  }
  hr {
    margin-bottom: 2rem;
  }
}