.contact-form {
  width: 100%;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    opacity: .9;
    margin-bottom: 2rem;
  }
  form {
    width: 100%;
    // max-width: 445px;
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.4rem;
      .contact-error {
        color: red;
        font-size: 1.1rem;
        font-style: italic;
        opacity: .8;
      }
      input {
        height: 40px;
        border: 1px solid #dedede;
        border-radius: 5px;
        padding: 1rem;
        &:placeholder-shown {
          padding: 1rem;
        }
      }
      &.checkbox {
        flex-direction: row;
        justify-items: flex-start;
        align-items: center;
        .box {
          background: none;
          border: none;
          outline: none;
          margin-right: 2.6rem;
          cursor: pointer;
        }
        label {
          position: relative;
          font-size: 1.5rem;
          line-height: 28px;
          opacity: .6;
          max-width: 395px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &.italic {
            font-style: italic;
          }
        }
      }
    }
  }
}