.footer {
  background: #000;
  padding: 6.4rem 17.1rem;
  .inner {
    display: flex;
    position: relative;
    .logo {
      margin-right: 11rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        &:not(:last-child) {
          margin-bottom: 1.9rem;
        }
        a {
          font-weight: 700;
          color: #fff;
          font-size: 1.2rem;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
    .socials {
      position: absolute;
      left: 0;
      bottom: 0;
      svg {
        margin-right: 1rem;
        path {
          fill: #fff;
        }
      }
    }
    .btn {
      position: absolute;
      right: 0;
    }
    .copyright {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .footer {
    padding: 6.4rem 3.9rem;
    .inner {
      flex-direction: column;
      .logo {
        margin-bottom: 3.2rem;
      }
      ul {
        flex-direction: row;
        margin-bottom: 7.2rem;
        li {
          margin-right: 2.6rem;
        }
      }
    }
  }
}