.prices {
  padding: 12rem 2rem;
  .price-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

@media only screen and (max-width: 830px) {
  .prices {
    padding: 12rem 3.9rem;
    .price-cards {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 620px) {
  .prices {
    padding: 6.4rem 3.9rem;
  }
}