.prices-switch {
  height: 32px;
  width: 255px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  .monthly, .yearly {
    opacity: .4;
    &.active {
      opacity: 1;
    }
  }
  .switch {
    height: 32px;
    width: 64px;
    background: #DFDFDF;
    border-radius: 20px;
    margin: 0 3.2rem;
    padding: .4rem;
    cursor: pointer;
    transition: all 150ms ease-in;
    .circle {
      height: 24px;
      width: 24px;
      background: #000;
      border-radius: 50%;
      
    }
    &.active {
      background: #000;
      .circle {
        transition: all 150ms ease-in;
        transform: translateX(calc(64px - 32px));
        background: #fff;
      }
    }
    &.inactive {
      .circle {
        transition: all 150ms ease-in;
        transform: translateX((-64px -32px))
      }
    }
  }
}